*.swp
package-lock.json
node_modules
__pycache__
.pytest_cache
.venv
*.egg-info

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# CDK asset staging directory
.cdk.staging
cdk.out
